In [2]:
import pandas as pd
import itertools

In [21]:
x = [1,2,3]
y = ["a","b","c"]
list(itertools.product(x, y))

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [20]:
poses = pd.DataFrame([{"pose":"Vrikshasana"}, {"pose":"Shvanasana"}])
positions = pd.DataFrame([{"position":"Adho", "face":"Mukha"},{"position":"Urdhva", "face":"Mukha"}])
pd.merge(positions, poses, how="cross")

  position   face         pose
0     Adho  Mukha  Vrikshasana
1     Adho  Mukha   Shvanasana
2   Urdhva  Mukha  Vrikshasana
3   Urdhva  Mukha   Shvanasana